html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  border-bottom: none;
  text-decoration: none !important;
  opacity: 0.8;
  transform: scale(1.01, 1.01);
  transition: transform 100ms;
}

* {
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  // padding-right: 0px !important;
  // padding-left: 0px !important;
}
